<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}Gigabot{% end %}</title>
  <link rel="stylesheet" href="{{ static_url("css/foundation.css") }}">
  <link rel="stylesheet" href="{{ static_url("jquery-ui/jquery-ui.min.css") }}">
  
  <link rel="stylesheet" href="{{ static_url("css/gigabot.css") }}">
  
</head>
<body>

{% include menu.html %}

<!-- content -->
{% block content %}{% end %}

  <script src="{{ static_url("js/vendor/jquery.js") }}"></script>
  <script src="{{ static_url("jquery-ui/jquery-ui.min.js") }}"></script>
  <script src="{{ static_url("js/foundation.min.js") }}"></script>

{% block pagescripts %}{% end %}
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
