{% extends "base.html" %}

{% block title %}GigaBot File Upload{% end %}

{% block content %}

	<div class="row">
	    <div class="large-12 columns">
	        <div id="message">
               {% for message in messages %}
                 {{ message }}
               {% end %}
            </div>
        </div>    
        <div class="large-6 columns">
	        <p><h1>Select and  Upload</h1></p>
	        
	        <div id="files">
               {% for file in files %}
                 <p>
                 {{ file['name'] }} 

                 </p>
               {% end %}
            </div>

        </div>
      
		<div class="large-6 columns">

        <p><h1>Select and  Upload</h1></p>
        
        <form id="file_upload" enctype="multipart/form-data" action="/upload" method="post">
        File: <input type="file" name="filearg" />
        <br />
        <br />
        <input type="submit" value="upload" />
        {% module xsrf_form_html() %}
        </form>

	    </div>
	</div>
	
	<div class="row">
	

        </div>
	

	</div>	


{% end %}
