{% extends "base.html" %}

{% block content %}

	<div class="row">
		<div class="large-12 columns">
			<h2>Welcome to Your Gigabot</h2>
			<p>This is version 0.0.1</p>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="large-8 columns">
			<h3>The Gigabot</h3>
            <p>Status: <span id="status"></span></p>
			<!-- Grid Example -->
			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<p><p>
						<img src="{{ static_url("images/overview_v4.jpg") }}" alt="Gigabot">
					</div>
				</div>
			</div>
			<div class="row">

			</div>


			<h3>Files</h3>
			<div class="row">
				<div class="large-12 columns">
                
                <div id="files">
  
                <table>
                  <thead>
                    <tr>
                      <th width="200">File (click to load)</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for file in files %}
                    <tr>
                      <td><a class="button file_button" href="#">{{ file['name'] }}</a></td>
                      <td>{{ file['date'] }}</td>
                    </tr>
                 {% end %}
                 
                  </tbody>
                </table>

                </div>
                    <a class="button command_button disabled " id="print" href="#">Start Print</a>
                    <a class="button command_button disabled" id="pause" href="#">Pause Print</a>
				</div>
			</div>

      <div class="row">

      </div>
		</div>

		<div class="large-4 columns">
			<h4>Getting Started</h4>
			<p>We're stoked you want to try gigabot To get going....</p>

			<h4>Other Resources</h4>
			<p>Once you've exhausted the fun in this, you should check out:</p>
			<ul class="disc">
				<li><a href="">Documentation</a><br />Everything you need to know about using the gigabot.</li>
				<li><a href="">Github</a><br />Latest code, issue reports, feature requests and more.</li>
				<li><a href="">blah</a><br />blah.</li>
			</ul>
		</div>
	</div>
	

{% end %}


{% block pagescripts %}
	<script src="{{ static_url("js/index.js") }}" type="text/javascript"></script>
{% end %}

